<%= flash[:notice] %>

<h2> <%= @group.name %> </h2>
<h3> <%= @group.description %> </h3>
<h4> <%= @admin.name %> </h4>

<br>

<% if !@group.current_user_a_member?(current_user) %>

  Want to join this this group?<br>

  <%= form_tag ('/groups/join') do %>

  <%= hidden_field_tag "group_id", @group.id%>
  <%= submit_tag "Join" %>

  <% end %>


<% else %>

  <% if @admin.id == current_user.id  %>
  ADMIN
  <br>
  <br>
  <%= button_to "Edit Group", edit_group_path(@group), method: :get  %>
  <br>
  <br>

  <%= form_tag @group, method: :delete do %>
    <%= hidden_field_tag "group_id", @group.id%>
    <%= submit_tag "Delete Group" %>

  <% end %>

  <% else %>
    <%= form_tag ('/groups/quit') do %>
    <%= hidden_field_tag "group_id", @group.id%>
    <%= submit_tag "Rage Quit" %>
    <% end %>
  <% end %>
<% end %>



<br>
<h3>Roster</h3>
<ul>
  <% @group.users.each do |user| %>
<li> <%= link_to user.fullname, user_path(user) %> </li>
  <% end %>
</ul>
