<%= flash[:notice] %>

<h2> <%= @group.name %> </h2>
<br>
Want to join this this group?<br />

<%= form_tag ('/groups/join') do %>

<%= hidden_field_tag "group_id", @group.id%>
<%= submit_tag "Join" %>

<% end %>

<br>
<h3>Roster</h3>
<ul>
  <% @group.users.each do |user| %>
<li> <%= link_to user.name, user_path(user) %> </li>
  <% end %>
</ul>
