<div class="container">
    <%= flash[:notice] %>

    <div class="row">
        <div class="col s12">
            <h2> Claimed meals </h2>
        </div>
    </div>

    <% @meal_ids.each do |meal_id|%>
      <% @meal = Meal.find(meal_id) %>
        <% if @meal.fresh? %>
          <div class="row">
                <div class="col s6">
                  <% if @meal.img_url.empty? %>
                    <%= image_tag "cake" %>
                  <% else %>
                    <%= image_tag "#{@meal.img_url}" %>
                  <% end %>
                </div>

                <div class="col s6">
                    <b><p> <%= link_to "#{@meal.name}", @meal %> </p></b>
                    <p> "<%= @meal.description %>" </p>

                    <p> <%= Portion.number_of_claimed_portions(meal_id, @user.id) %> portion(s)</p>

                    <% cook = @meal.get_cook %>

                    <p> claimed from <%= link_to "#{cook.name}", cook %> </p>

                    <%= form_tag('/portions/return') do %>
                    <p> Return
                        <%= select_tag "number_returns", options_for_select(1..Portion.number_of_claimed_portions(meal_id, @user.id)) %>
                        portion(s)
                        <%= hidden_field_tag "id", @user.id%>
                        <%= hidden_field_tag "meal_id", @meal.id %>
                        <%= submit_tag "Return!" %>
                    </p>
                    <% end %>
                </div>
          </div>
        <% end %>
    <% end %>
</div>
