<div class="container">
    <%= flash[:notice] %>
    <h2><span class="red-text text-lighten-2">Claimed Meals</span></h2>

    <% @meal_ids.each do |meal_id|%>
      <% meal = Meal.find(meal_id) %>
        <% if meal.fresh? %>
        <div class="card">
          <div class="card-image">
            <% if meal.img_url.blank? %>
              <%= image_tag "cake.png", html: {width: "50%"} %>
            <% else %>
              <%= image_tag "#{meal.img_url}", html: {width: "50%"} %>
            <% end %>
            <span class="card-title"><%= meal.name%></span>
          </div>
          <div class="card-content">
            <p><%= meal.description %></p>
            <% meal = Meal.find(meal_id) %>
            <p> <%= Portion.number_of_claimed_portions(meal_id, @user.id) %> portion(s)</p>
            <% cook = meal.get_cook %>
            <p> claimed from <%= link_to "#{cook.name}", cook %> </p>
            <%= form_tag('/portions/return') do %>
              <p> Return
                <%= select_tag "number_returns", options_for_select(1..Portion.number_of_claimed_portions(meal_id, @user.id)) %>
                portion(s)
                <%= hidden_field_tag "id", @user.id%>
                <%= hidden_field_tag "meal_id", meal.id %>
                <%= submit_tag "Return!" %>
              </p>
            <% end %>
          </div>
          <div class="card-action">
            <%= link_to "Go To Meal", meal %>
          </div>
        </div>
      <% end %>
    <% end %>
</div>
