<% if flash[:notice] %>
  <% flash[:notice].each do |messages| %>
    <%= messages %>.
  <% end %>
<% end %>

<h1 class="user_center">Log In</h1>

<%= form_tag '/sessions', class: "form user_center" do %>
  <%= label_tag :name %>
  <br>
  <%= text_field_tag 'user[name]' %>
  <br><br>
  <%= label_tag :password %>
  <br>
  <%= password_field_tag 'user[password]' %>
  <br><br>
  <%= submit_tag 'Sign In', class: "waves-effect waves-light btn" %>
<% end %>

<br><br>

<%= link_to "Sign Up", new_user_path %>
