<% if flash[:notice] %>
  <% flash[:notice].each do |messages| %>
    <br><%= messages %>
  <% end %>
<% end %>

<h1>Sign Up</h1>

<%= form_for @user do |f| %>
  <%= f.label :username %>
  <br>
  <%= f.text_field :name %>
  <br><br>
  <%= f.label :fullname %>
  <br>
  <%= f.text_field :fullname %>
  <br><br>
  <%= f.label "ZIP Code" %>
  <br>
  <%= f.text_field :address %>
  <br><br>
  <%= f.label :password %>
  <br>
  <%= f.password_field :password %>
  <br><br>
  <%= f.label :password_confirmation %>
  <br>
  <%= f.password_field :password_confirmation %>
  <br><br>
  <%= f.submit %>
<% end %>

<p><%= link_to "Log In", root_path %></p>
