<h1><%= @user.name %></h1>
<p><%= @user.address %></p>

<br>

<% if current_user.id == @user.id %>

<%= link_to "All my claimed meals", users_path %>

<br />

<%= link_to "All my cooked meals", cook_path %>

<% end %>

<br><br><br>

<p> <%= link_to "Edit", edit_user_path %> || <%= link_to "Log Out", session_path, method: :delete %></p>
