<div class="row">
    <% if current_user.id == @user.id %>
      <div class="col s12">
        <h1>Welcome, <%= @user.fullname %>!</h1>
        <%= link_to "Edit Profile", edit_user_path, class: "waves-effect waves-light btn" %>
        <%= link_to "New Meal", new_meal_path, class: "waves-effect waves-light btn" %>
        <%= link_to "New Group", new_group_path, class: "waves-effect waves-light btn" %>
      </div>
    <% else %>
      <div class="col s12">
        <h1><%= @user.fullname %></h1>
      </div>
    <% end %>
</div>

<div class="row">
  <div class="col s6">
    <% if current_user.id == @user.id %>
      <h2><span class="red-text text-lighten-2">My Groups</span></h2>
    <% else %>
      <h2><span class="red-text text-lighten-2">Groups</span></h2>
    <% end %>

    <% @user.groups.each do |group| %>
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://static.pexels.com/photos/66463/pexels-photo-66463.jpeg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><%= group.name %></span>
          <p><%= group.description %></p>
          <ul>
            <% group.meals.each do |meal|  %>
              <% if meal.fresh? %>
                <% if meal.portions_all_taken?  %>
                  <li> <%=link_to meal.name, meal_path(meal) %> <%= meal.made_by %> - ALL CLAIMED! </li>
                <% else %>
                  <li> <%=link_to meal.name, meal_path(meal) %> <%= meal.made_by %> </li>
                <% end %>
              <% end %>
            <% end %>
          </ul>
          <p><%= link_to "Go to group", group_path(group) %></p>
        </div>
      </div>

    <% end %>
  </div>
  <div class="col s6">
    <% if current_user.id == @user.id %>
      <h2><span class="red-text text-lighten-2">Recommendations</span></h2>
      <% current_user.recommendations.each do |meal| %>
        <% if meal.fresh? %>
          <div class="card horizontal">
            <div class="card-image">
              <img src=<%= meal.img_url %>>
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p><%= link_to meal.name, meal_path(meal) %></p>
                <p><%= meal.description %></p>
              </div>
              <div class="card-action">
                <%= link_to "Go to meal", meal_path(meal) %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
