<h1><%= @user.name %></h1>
<p><%= @user.address %></p>

<br>

<% if current_user.id == @user.id %>

  <%= link_to "All my claimed meals", claimed_meals_path %>
  <br />
  <%= link_to "All my cooked meals", cook_path %>
  <br /><br />
  <%= link_to "Submit a new meal!", new_meal_path %>
  <br />
  <%= link_to "Make a new group!", new_group_path %>
  <br />
  <%= link_to "See all groups!", groups_path %>

  <br><br />
  ===================================
  <div>
    <div id='recommendations'>
      Recommendations will go here.

    </div>




    <h2> My Groups </h2>
    <% @user.groups.each do |group| %>
      <h3><%= link_to group.name, group_path(group) %></h3>

      <ul>
        <% group.meals.each do |meal|  %>
          <% if meal.portions_all_taken?  %>
            <li> <%=link_to meal.name, meal_path(meal) %> <%= meal.made_by %> - ALL CLAIMED! </li>
          <% else %>
            <li> <%=link_to meal.name, meal_path(meal) %> <%= meal.made_by %> </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>

  <p> <%= link_to "Edit", edit_user_path %> || <%= link_to "Log Out", session_path, method: :delete %></p>

<% else %>
  <h2> Groups </h2>

  <% @user.groups.each do |group| %>
    <h3><%= link_to group.name, group_path(group) %></h3>
  <% end %>

  <p> <%= link_to "Log Out", logout_path %></p>
<% end %>
