<h1><%= @user.name %></h1>
<p><%= @user.address %></p>

<br>

<% if current_user.id == @user.id %>

<%= link_to "All my claimed meals", claimed_meals_path %>
<br />
<%= link_to "All my cooked meals", cook_path %>
<br /><br />
<%= link_to "Submit a new meal!", new_meal_path %>
<br />
<%= link_to "Make a new group!", new_group_path %>
<br />
<%= link_to "See all groups!", groups_path %>

<br><br />
===================================
<p>
  <h3>Groups I'm part of</h3>
  <% @user.groups.each do |group| %>
    <%= link_to group.name, group_path(group) %>
  <% end %>
  <br>

  <h3>Meals in this group</h3>
  <% @user.groups.each do |group| %>
    <% group.meals.each do |meal|  %>
      <%=link_to meal.name, meal_path(meal)  %>
    <% end %>
  <% end %>
  <br />
</p>

<br><br><br>

<p> <%= link_to "Edit", edit_user_path %> || <%= link_to "Log Out", logout_path %></p>

<% else %>

<p> <%= link_to "Log Out", logout_path %></p>


<% end %>
