<%= flash[:notice] %>

<h1> <%= @meal.name %> </h1>
<br>
<img src="<%= @meal.img_url %>"/>
<h3> by <%= link_to @cook.name, @cook %> </h3>
<br>

--- <i> <%= @meal.portion_text %> available </i> ---
<br>
<br>

Description: <%= @meal.description %>
<br>
Category: <%= @meal.category %>
<br>
<br>

Claim it by: <%= @meal.expiration %>
<br>

===========================
<br>

<h4> Want to claim this meal? </h4>

<%= form_tag ('/portions') do %>
  <%= select_tag :number, options_for_select(1..@meal.number_of_portions_available) %> portion(s)
  <%= hidden_field_tag "user_id", @user.id%>
  <%= hidden_field_tag "meal_id", @meal.id %>
  <%= submit_tag "Claim this meal!" %>
<% end %>
