<%= flash[:notice] %>
<h1> <%= @meal.name %> </h1> <br />

<img src="<%= @meal.img_url %>" style='width: 100px' height='200px' />

<h3> by <%= @user.name %> </h3> <br />

--- <i> <%= @meal.number_of_portions_available %> portion(s) available </i> --- <br />

<%= @meal.description %> <br />

Claim it by: <%= @meal.expiration %> <br />

=========================== <br />

Want to claim this meal?<br />

<%= form_tag ('/portions') do %>

<%= select_tag :number, options_for_select(1..@meal.number_of_portions_available) %> portion(s)

<%= hidden_field_tag "user_id", @user.id%>
<%= hidden_field_tag "meal_id", @meal.id %>
<%= submit_tag "Claim this meal!" %>
<% end %>
